<%- include('../grid/top') %>
<form id="loginForm" method="post">
  <input id="id" name="id" type="text" placeholder="ID" />
  <input id="pw" name="pw" type="text" placeholder="PASSWORD" />
  <button type="submit">LOGIN</button>
</form>

<button id="login-btn" type="button">LOGIN TEMP</button>

<script>
  $('#login-btn').on('click', function() {

    var temp = {
      temp : "temp"
    };
    
    ajax('/login/send', 'post', temp, function(data) {
      console.log(data);
    })

    // $('#loginForm').submit();
  })
</script>