
<%- include('../grid/top') %>

<form id="signinForm" method="post">
  <input name="id" type="text" placeholder="ID" />
  <input name="pw" type="password" placeholder="PASSWORD" />
  <button type="submit">SIGN IN</button>
  <a href="/signup"><button type="button">SIGN UP</button></a>
</form>

<%- include('../grid/footer') %>

<script>

</script>